html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


body{
  background-color: #f7f7f9;    
} 
.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.container {
  background-color: white;
  color: #6070ff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  flex: 1;
  padding-top: 20px;
  padding-left: 20px;
  width: 76px;
  height: 20px;
}

.material-icons {
  background-color: white;
  color: blue;
  padding-right: 40px;
  padding-top: 20px;
}

.myname {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 327px;
  height: 150px;
}

.section_1 {
  background-image: url("./header-shapesmobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: bottom right;
  width: 100%;
  border-bottom-left-radius: 100px;
  min-height: calc(100vh - 81px);
  background-color: white;
}

.flex-icons {
  display: flex;
  width: 170.17px;
  height: 20px;
  flex-direction: row;
  padding-left: 20px;
  justify-content: space-between;
}

.about {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 20px;
  width: 327px;

  /* height: 146px; */
}

.glad {
  width: 80%;
  padding-top: 20vh;
  padding-left: 20px;
}

h2 {
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding-left: 20px;
}

ul {
  list-style-type: none;
}
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  width: 375px;
  height: 2788px;

}
article {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  min-height: 70vh;
}
.flex-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  margin: 0px;
}
.lang {
  display: flex;
  flex-direction: row;
  width: 203px;
  height:24px;
  align-items: center;
  padding: 0px;
  gap: 8px
}
.section_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 295px;
  height: 288px;
  justify-content: space-between;
}
.ton {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.word {
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  width: 295px;
}
.dot {
  width: 8px;
  height: 8px;
  color: #c1c7d0;
}
.click {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #396df2
}